.netrwhist
npm-debug.log

plug.vim.old
**/packer_compiled.lua

config/nvim/spell
config/nvim/shada
config/nvim/plugged
config/nvim/undo
config/nvim/autoload/plug.vim
vim/vim.symlink/spell/
vim/vim.symlink/plugged/

Brewfile.lock.json

config/nvim/lazy-lock.json
